
aiofiles==0.8.0
jishaku==2.5.0
filestack-python==3.5.0
bs4==0.0.1
chardet==4.0.0
deep-translator==1.8.3
discord-ext-menus 
discord.py 
docx==0.2.4
python-docx==0.8.11
parsel==1.6.0
motor==3.0.0
reactionmenu==3.0.1
textblob==0.17.1
dnspython==2.2.1
PyDictionary==2.0.1
mega.py @git+https://github.com/Ajurahul/mega.py@c3836facd07dba9b396982afd988ed2b2be93163
heroku3==5.1.4
readabilipy==0.2.0
EbookLib==0.17.1
PyPDF2==2.11.0
cloudscraper>=1.2.64
