
aiofiles==23.2.1
futures==2.2.0
jishaku==2.5.2
bs4==0.0.1
chardet==4.0.0
StringProgressBar==1.1.1
deep-translator==1.11.4
discord-ext-menus 
discord.py 
parsel==1.8.1
motor==3.3.1
reactionmenu~=3.1.4
textblob==0.17.1
dnspython~=2.4.2
python-docx>=0.8.11
PyDictionary==2.0.1
mega.py @git+https://github.com/Ajurahul/mega.py@c3836facd07dba9b396982afd988ed2b2be93163
readabilipy==0.2.0
cloudscraper>=1.2.71
requests~=2.31.0
joblib~=1.2.0
aiohttp~=3.8.3
nltk~=3.8.1
docx~=0.2.4
epub2txt~=0.1.6
EbookLib~=0.18
pypdf~=3.17.0
undetected-chromedriver>=3.5.4
selenium==4.15.2